lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

#Twitter stuff
Twitter/config.js
Twitter/node_modules/*
Twitter/output/*
Twitter/test/*
Twitter/test.js

#Open Access stuff
OpenAccess/node_modules/*
OpenAccess/config.js
OpenAccess/articles/*

#LinkedIn stuff
LinkedIn/node_modules/*
LinkedIn/config.js
LinkedIn/accessToken.js

#Yahoo Finance stuff
Yahoo_Finance/node_modules/*
Yahoo_Finance/config.js

#Facebook stuff
Facebook/node_modules/*
Facebook/config.js
